{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block loading %}
    <script type="text/javascript"> group_list_all(); </script>
    <script type="text/javascript"> push_add_project_table(); </script>
{% endblock %}


{% block page_content %}

    <ol class="breadcrumb">
        <li><a href="/index">Home</a></li>
        <li class="active">项目管理</li>
    </ol>


    <div class="projectinfo" style="height:auto;border:1px solid #ccc;padding-left:10px;">
        <li class="active">项目组管理</li>
        <table class="table table-hover">
            <tr>
                <td><input type="text" id="addgroupname" placeholder="groupName" class="form-control"  value=""></td>
                <td><button id="add_newgroup" class="btn btn-small btn-success">添加新服务组</button></td>
                <td><div id="groupnamediv" class="sidebar-menu"><input type="text" id="selectgroup" class="form-control" value=""></div></td>
                <td><button id="del_group" class="btn btn-small btn-danger">删除空服务组</button></td>
            </tr>
        </table>
    </div>
    <br>
    <br>
    <div class="projectinfo" style="height:auto;border:1px solid #ccc;padding-left:10px;">
        <li class="active">添加新项目</li>
        <div style="float:right" id="project_button_div">
        </div>
        <div class="add_project_div" id="project_div"  status="close"></div>
        <br>
        <br>
    </div>

{% endblock %}


