{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block loading %}
    <script type="text/javascript"> user_list(); </script>
    <script type="text/javascript"> group_list_all(); </script>
{% endblock %}


{% block daohang %}
        <div class="leftDiv" id="leftDiv" path="useradmin">
            <div id="user_list" class="sidebar-menu">
            </div>
        </div>


{% endblock %}

{% block page_content %}
    <div id="update_user" class="sidebar-menu">
        <table class="table table-hover">
            <thead><tr><th>username</th><th>password</th><th>operation</th></thead>
            <tr>
                <td><input type="text" id="addusername" class="form-control"  value=""></td>
                <td><input type="text" id="addpassword" class="form-control"  value=""></td>
                <td><button id="add_user" class="btn btn-small btn-success">添加用户</button></td>
            </tr>
        </table>
        <table class="table table-hover">
            <thead><tr><th>addgroupname</th><th>添加服务组</th><th>delgroupname</th><th>删除服务组</th></thead>
            <tr>
                <td><input type="text" id="addgroupname" class="form-control"  value=""></td>
                <td><button id="add_group" class="btn btn-small btn-success">添服务加组</button></td>
                <td><div id="groupnamediv" class="sidebar-menu"><input type="text" id="selectgroup" class="form-control" value=""></div></td>
                <td><button id="del_group" class="btn btn-small btn-danger">删服务除组</button></td>
            </tr>
        </table>
    </div>
    <div id="servergroup_list" class="sidebar-menu">
    </div>


{% endblock %}




